{% doc %}
  Renders a button with customizable content (add functionality with JS)

  @param {string} type - main or secondary for bg color and hover
  @param {string} content - button text
  @param {string} [classname] - custom classes
  @param {string} [id] - button id
{% enddoc %}

{{ 'main-button.css' | asset_url | stylesheet_tag }}

<button id="{{ id }}" class="color-{{ type }} {% if classname != blank %} {{ classname }}  {% endif %} main-btn">
  {{ content }}
  {% render 'arrow-2' %}
</button>
